body {
  background: #fff;
}
/*------------------------------
    PRELOADER
-------------------------------*/

#preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.preloader-spinner {
    -webkit-animation: 1s ease-out 0s normal none infinite running pulsate;
    animation: 1s ease-out 0s normal none infinite running pulsate;
    border: 5px solid #00aff0;
    border-radius: 40px;
    display: block;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 10;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes pulsate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

h1, h2, h3, h4, h5, h6{
  font-family: "PT Sans Narrow", sans-serif;
}
.container button{
  letter-spacing: 2px;
  border: none;
  border-radius: 0px;
  padding: 12px 25px 12px 25px;
}
/*------------------------------
    13. SCROLL TO TOP
-------------------------------*/

a.scrolltotop {
    background: #00aff0 none repeat scroll 0 0;
    bottom: 20px;
    box-shadow: 0 0 0 7px transparent;
    color: #ffffff;
    display: block;
    font-size: 20px;
    height: 40px;
    padding-top: 5px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 99;
}

a.scrolltotop:hover {
    box-shadow: 0 0 0 0 #000000;
    background: #000000;
}
/*------------------------------
    NAVBAR
-------------------------------*/
nav.navbar.navbar-dark.navbar-expand-md.fixed-top{
padding-bottom: 0rem;
}
.navbar{
  width: 100%;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid #000000;
}
.navbar-brand img{
  height: 55px;
  width: 110px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
}
.navbar-nav .nav-item{
  position: relative;
  padding: 18px 0;
}
.nav-item::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #00AFF0;
}
.navbar-nav .nav-item:hover::after{
  color: #00AFF0;
  width: 100%;
  transition: .2s;
}
.navbar .jscollapse{
  background: #000000;
  width: 100%;
}
@keyframes hoverAnim {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
.nav-change {
    background-color:#000;
    box-shadow: 5px -1px 12px -5px grey;
    height : 70px;
    transition: 0.3s ease-in-out;
}
.nav-change .navbar-brand img{
  width: 90px;
  height: 50px;
}
.nav-change .nav-item{
  height: ;
  padding-top: 6px;
  padding-bottom: 7px;
}
#mynavbar{
  padding: 0 10px;
}
.activemenu{
  background: red;
}
#home-section {
  background: rgba(0, 0, 0, 0) url(../img/main_bg.jpg) no-repeat scroll top center /  cover;
  min-height: 500px;
  width: 100%;
}
#home-section .home-inner {
  padding-top: 150px;
  padding-bottom: 50px;
}
#home-section .dark-overlay{
  background: rgba(0, 0, 0, 0.6);
  min-height: 500px;
}
#home-section h2.home-title{
  letter-spacing: 6px;
  margin: 1rem 0 1rem 0;
}
#home-section h1.type-title{
  font-size: 45px;
  letter-spacing: 5px;
}
#home-section p{
  margin: 1rem 0 3rem 0;
}
#home-section button{
  letter-spacing: 2px;
  border: none;
  border-radius: 40px;
  padding: 12px 23px 12px 23px;
}
#about-section{
  padding: 100px 0 100px 0;
}
#about-section .img-border{
  border: 10px solid #000;
  width: 283px;
  height: 302px;
  border-style: outset;
}
#about-section .img-border img{
  position: absolute;
  top: 30px;
  right: 45px;
  width: 283px;
  height: 302px;
}
#about-section button:hover{
  background: #000;
  color: #fff;
}
#about-section .about-section-title, #service-section .service-section-title, #price-section .price-section-title{
  position: relative;
  margin-bottom:60px;
}
#about-section .about-section-title h1, #service-section .service-section-title h1, #price-section .price-section-title h1, #testimonial-section .section-title h1{
  letter-spacing: 4px;
  font-size: 50px;
}
#about-section .about-section-title .about-title-box, #service-section .service-section-title .service-title-box, #price-section .price-section-title .price-title-box{
  content: "";
  position: absolute;
  top:-15px;
  left: 0;
  width: 80px;
  height: 92px;
  border: 10px solid #00AFF0;
  z-index: -1;
}
@media screen and (max-width: 991px){
  #about-section .img-border{
    border: 10px solid #000;
    width: 100%;
    height: 400px;
    border-style: outset;
    margin-top: 20px;
  }
  #about-section .img-border img{
    position: absolute;
    top: 50px;
    right: 45px;
    width: 93%;
    height: 400px;
  }
}
#video-section{
  height: 500px;
  position: relative;
}
 #video-section .dark-overlay{
   background: #000;
 }
#video-section #for-center-bg-icon{
  background: rgba(0, 0, 0, 0) url(../img/video_bg.jpg) no-repeat scroll top center /  cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#video-section #for-center-bg-icon .play-icon-label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
#video-section #for-center-bg-icon i{
  font-size: 90px;
  color: #fff;
  margin: 20px;
  cursor:pointer;
}
#video-section #for-center-bg-icon i:hover{
  color: #00AFF0;
  transition: .2s;
}
#video-section .dark-overlay1{
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

#service-section{
  padding: 100px 0 100px 0;
}

#service-section .box{
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 12px #ddd;
  padding: 50px 10px;
}
#service-section .box i{
  background: #00AFF0;
  font-size: 35px;
  color: #fff;
  padding: 20px;
  border-radius: 50%;
}
#service-section .box h3{
  color: #555555;
  font-size: 20px;
  letter-spacing:2px;
  margin: 20px 0;
  text-transform: uppercase;
}
#service-section .box p{
  color: #555;
}
  /*START GALLERY SECTION: */
/*core gallery*/
#gallery-section{
  background: #000;
  color: #fff;
  padding: 100px 0 100px 0;
  font-family: "PT Sans Narrow", sans-serif;
}
#gallery-section .gallery-section-title{
  position: relative;
  z-index: 2;
}
#gallery-section .gallery-section-title h1{
  letter-spacing: 3px;
  font-size: 50px;
}
#gallery-section .gallery-section-title .gallery-title-box{
  content: "";
  position: absolute;
  top:-15px;
  right: 0;
  width: 80px;
  height: 92px;
  border: 10px solid #00AFF0;
  z-index: -1;
}
/*vendors gallery*/
.portfolio-menu{
	text-align:left;
  padding-bottom: 20px;
}
.portfolio-menu ul{
  padding-left: 0;
  font-weight: ;
  font-family:monospace;
  letter-spacing: 2px;
  font-size: 14px
}
.portfolio-menu li{
  position: relative;
  z-index: 2;
}
.portfolio-menu li.active::after {
  width: 50%;
}
.portfolio-menu li::after{
  background: #00aff0;
  content: "";
  position: absolute;
  height: 10px;
  left: 0;
  top: 50%;
  transform: translateY(-50%) skewX(-20deg);
  transition: all 0.3s ease 0s;
  width: 0;
  z-index: -1;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:0px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}
.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}

/* PRICE SECTION */
#price-section{
  padding: 100px 0 50px 0;
}
.price-section-title{
  text-align: left;
  margin-bottom: 5rem;
}
#price-section .card{
  box-shadow: 0 0 10px 0px #999;
  height: 850px;
}
#price-section .card .card-head{
  letter-spacing: 1px;
  margin-top: 20px
}
#price-section p{
  color: #555;
}
#price-section .card .card-foot{
  margin-bottom: 10px;
}
@media screen and (max-width: 991px){
  #price-section .card{
    box-shadow: none;
    height:650px;
    margin:20px;
  }
}
/*=== START FACT AREA CSS ===*/
#fact-area{
  padding: 100px 0;
  position: relative;
}
.fact-area-bg{
background: rgba(0, 0, 0, 0) url("../img/fact-area-bg.jpg") no-repeat scroll center center / cover;
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;
}
.fact-area-bg::after {
  background: #000 url("../img/pattern.png") repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
}

.counter {
    text-align: center;
    color: #fff;
}
.counter h2{
  font-size: 40px;
  letter-spacing: 3px;
  padding-top: 25px;
}
.count-text {
    font-size: 18px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 0;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.fa-icon {
    margin: 0 auto;
    float: none;
    display: table;
    color: #fff;
    font-size: 40px;
}
@media screen and (max-width:991px){
  .counter h2{
    font-size: 30px;
  }
  .count-text {
      font-size: 15px;
  }
  .fa-icon {
      font-size: 30px;
  }
}
/*=== END FACT AREA CSS ===*/
#testimonial-section{
  padding: 100px 0 50px 0;
}
#testimonial-section .section-title{
  position: relative;
  text-align: right;
}
#testimonial-section .section-title .title-box{
  content: "";
  position: absolute;
  top:-15px;
  right: 0;
  width: 80px;
  height: 92px;
  border: 10px solid #00AFF0;
  z-index: -1;
}
.row.myrow{
  display: flex;
  justify-content: center;
}
.testimonial-list{

}
.single-testmonial {
	text-align: center;
  margin: auto;
}
.single-testmonial img {
    border-radius: 50%;
    margin: 0 auto 20px;
    max-width: 25%;
    width: auto;
}
.name-and-title {
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}
.name-and-title h6{
  margin-top:;
}
.testmonial-author-details{
    padding: 0 50px;
    position: relative;
}
.testmonial-author-details::after {
    color: #000000;
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 24px;
    height: 30px;
    left: 0;
    position: absolute;
    top: 62px;
    width: 30px;
}
.testmonial-author-details p{
  text-align: justify center;
}
@media screen and (max-width: 991px){
  #testimonial-section .section-title h1, #service-section .service-section-title h1, #gallery-section .gallery-section-title h1, #price-section .price-section-title h1, #about-section .about-section-title h1{
    font-size: 40px;
  }
  #testimonial-section .section-title .title-box, #service-section .service-section-title .service-title-box, #gallery-section .gallery-section-title .gallery-title-box, #price-section .price-section-title .price-title-box, #about-section .about-section-title .about-title-box{
    width: 65px;
    height: 85px;
  }
}
/*======STORY SECTION======*/
#story-section{
  background: #000;
color: #ffffff;
}
.single-story{
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.single-story-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.single-story:nth-child(2n) .row div {
    margin: 0;
    text-align: right;
}

.single-story:nth-child(2n) .single-story-bg {
    top: auto;
    bottom: 0;
}

.story-bg-one {
    background: url("../img/story_1.jpg") no-repeat scroll left center / 50% auto, #000 none repeat scroll 0 0;
    background-attachment: fixed;
}

.story-bg-two {
    background: url("../img/story_2.jpg") no-repeat scroll right center / 50% auto, #000 none repeat scroll 0 0;
    background-attachment: fixed;
}

.story-bg-three {
    background: url("../img/story_3.jpg") no-repeat scroll left center / 50% auto, #000 none repeat scroll 0 0;
    background-attachment: fixed;
}

.single-story-content {
    padding-left: 40px;
    marging: auto;
}

.single-story:nth-child(2n) .single-story-content {
    padding-left: inherit;
    padding-right: 40px;
}
/*------------------------------
    11. CONTACT AREA
-------------------------------*/
.contact-area{
  background: #000;
  color: #fff;
  padding: 80px 0 60px 0;
}
.contact-area a {
    color: #ffffff;
}
.contact-area a:hover {
    color: #00aff0;
}
.social-bookmark{
  padding-left: 0px;
}
.social-bookmark li{
  padding: 0 10px;
  list-style: none;
}
.footer-logo img {
    max-width: 130px;
}

.footer-logo,
.address-details {
    margin-bottom: 20px;
}
.map-area iframe{

}

/*------------------------------
    12. FOOTER AREA
-------------------------------*/

.footer-area {
    border-top: 1px solid #333333;
    padding: 35px 0;
    background: #000;
    color: #fff;
}

.footer-copyright p {
    margin-bottom: 0;
}

.footer-copyright a.footer-logo {
    border-bottom: 2px solid;
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
    max-width: 300px;
    padding-bottom: 10px;
}

.footer-copyright a {
    color: #00aff0;
}
@media only screen and (max-width:991px){
  #home-section h1.type-title{
    font-size: 38px;
    letter-spacing: 5px;
  }
}
@media only screen and (max-width:767px){
  #home-section h1.type-title{
    font-size: 32px;
    letter-spacing: 1px;
  }
  #home-section h2.home-title{
    letter-spacing: 5px;
    font-size: 32px;
  }
}
